<h1>Welcome <%= @user.name %> to Send Email in Rails 7 App! </h1>
<p>
  You have successfully got the link of our post <%= @post.title %>
  Your username is: <%= @user.name %>.<br>
</p>
<p>Please visit the link and share the post</p>